name: Lint and Format
on: [pull_request]
jobs:
  prettier:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
      - uses: technote-space/get-diff-action@v6
        with:
          PATTERNS: |
            **/*.{ts,tsx,js,jsx,json}
      - uses: oven-sh/setup-bun@v2
      - name: Install dependencies
        run: cd frontend && bun install --frozen-lockfile
      - name: Run Prettier Format
        run: bunx prettier --write ${{ env.GIT_DIFF_FILTERED }}
        if: env.GIT_DIFF
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Apply Prettier Change
